#bg {
}

body {
  margin: 0;

  padding: 0;
}

.containor {
  width: 100%;
  /*background-color: #ffcc33;*/
  margin: auto;
}

.frist {
  width: 300px;
  float: left;
  height: 300px;
  margin-left: 20%;
}

.second {
  width: 300px;
  float: right;
  height: 300px;
  margin-right: 20%;
  margin-top: 10%;
  /* background-color: green;*/
}

#FT {
  float: left;
  margin-left: 16%;
  text-align: center;
}

#ST {
  text-align: center;
  float: right;
  margin-right: 14%;
}

#clear {
  clear: both;
}

#how {
  text-align: center;
  margin: 0%;
}

#what {
  margin: 0%;
  margin-left: 28%;
  text-align: left;
}

.f {
  color: white;
  background-color: #2a546f;
  margin: 0%;
  padding: 0%;
}

.s {
  margin: 0%;
  padding: 0%;
}
